body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ol,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-decoration: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header-section {
  display: flex;
  padding: 0px 40px;
  box-shadow: 0px 0px 10px #000;
  height: 12vh;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.header-section__logo-section {
  display: flex;
  align-items: center;
  margin-right: 30%;
}

.header-section__navigation-section {
  display: flex;
  align-items: center;
}
.header-section__navigation-section a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  min-width: 20vh;
  color: black;
}

.header-section__navigation-section a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-section__navigation-section a:visited,
.header-section__navigation-section a:active {
  color: black;
}
.main-section {
  padding: 0 40px;
  height: 85vh;
  background-image: url("/src/images/background.jpg");
  background-size: cover;
  padding-top: 15vh;
}

.main-section__filter-form {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-form__input-select {
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  outline: none;
  margin-right: 40px;
  color: white;
  background-color: #cce6ff;
  cursor: pointer;
}
.filter-form__input-button {
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #cce6ff;
  color: white;
  cursor: pointer;
}

.main-section__task-section {
  background-color: #fff;
  height: fit-content;
  padding: 20px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-section__header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.task-section__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-section__task-card {
  background-color: #e6e6e6;
  width: 100%;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  margin-bottom: 20px;
}

.task-card__tool-panel {
  margin-left: 100px;
  min-width: 50px;
  display: none;
}

.task-card__btn {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
  margin-right: 10px;
}
.task-card__edit-btn {
  background-image: url("/src/images/edit.svg");
}
.task-card__delete-btn {
  background-image: url("../images/delete.svg");
}

.task-card__content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 170px);
}

.task-card__column {
  display: flex;
  flex-direction: column;
  min-width: 10vw;
}

.task-card__header-name {
  color: #808080;
  font-size: 10px;
}

.task-section__task-card:hover > .task-card__tool-panel {
  display: flex;
}

.main-section__form {
  background-color: #b3d9ff;
  height: fit-content;
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
}
.main-section__header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0066cc;
}

.main-section__input-text {
  border: none;
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 30vw;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  color: #0066cc;
}

.main-section__label {
  font-size: 12px;
  color: #595959;
  margin-bottom: 10px;
}

#typeInput {
  width: calc(30vw + 30px);
}

.main-section__btn {
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  background-color: #fff;
  color: #0066cc;
}
.main-section__modal-window {
  background-color: #cce6ff;
  border-radius: 8px;
  position: fixed;
  top: 25%;
  left: 30%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.dark {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.fadeIn {
  display: flex;
  animation: fadein 0.6s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-section__form-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  background: transparent url("/src/images/cancel.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.container {
  display: flex;
}
.container__form-btn {
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  background-color: #fff;
  color: #0066cc;
}

.container__form-btn:hover {
  box-shadow: 0px 0px 5px #000;
}
